<div class="jumbotron">
  <div class="jumbo-container">
    <div class="col-lg-10">
      <h1>Find your next home</h1>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
<% @last_three.each do |home| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to home do %>
      <%= attachment_image_tag(home, :main_image) %>
      <% end%>
      <div class="caption">
        <%= link_to home do %>
        <h3><%= home.address %></h3>
        <% end%>
        <p><%= home.description %></p>
      </div>
    </div>
  </div>
<% end %>
