<div class="container">
  <p>
    <%= attachment_image_tag(@user, :profile_image, :fill, size: "300x300", fallback: "silhouette.png") %>
  </p>

  <p>
    <%= @user.name %>
  </p>

  <p>
    <%= @user.phone %>
  </p>

  <p>
    <%= @user.address %>
  </p>

  <p>
    <%= @user.email %>
  </p>

  <%= link_to "Edit", edit_user_registration_path %>
</div>
