<div class="container">
  <div class="page-header">
    <%= link_to homes_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to edit_home_path(@home), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <h2><%= @home.address %></h2>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-xs-8 col-sm-6">
          <% if @home.main_image %>
            <%= image_tag attachment_url(@home, :main_image, :fill, 300, 300) %>
          <% end %>
          <h3><%= @home.beds %> Bedrooms, <%= @home.baths %> bathrooms</h3>
        </div>
        <div class="col-xs-4 col-sm-6">
          <% if @home.additional_image %>
          <%= image_tag attachment_url(@home, :additional_image, :fill, 300, 300) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h4><%= @home.square_footage %> square feet and only <%= number_to_currency(@home.price) %></h4>
    </div>
  </div>
  <p><%= @home.description %></p>

        <% if @home.owner %>
          <dt>Owner:</dt>
          <dd><%= @home.owner.name %></dd>
        <% end %>

        <% if @home.agent %>
          <dt>Agent:</dt>
          <dd><%= link_to @home.agent.name, show_profile_path(@home.agent) %></dd>
        <%else%>
          <dt>associated agent</dt>
          <dd>Agent's info to follow</dd>
        <% end %>

</div>
